.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav li {
  position: relative;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.hidden {
  display: flex !important;
}

@media (max-width: 768px) {
  .hidden {
    display: none !important;
  }
  .nav ul {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: -170px;
    z-index: 10;
    flex-direction: column;
    border: 1px solid #dddddd47;
    padding: 1rem 2rem;
    background-color: #364148;
    border-radius: 0.5rem;
  }
  .nav li:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 300%;
    left: -100%;
    height: 1px;
    bottom: -20px;
    background-color: #ddd;
  }
}

@media (max-width: 300px) {
  .nav {
    flex-direction: column-reverse;
  }
}